.right-side {
  height: 650px;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.posts-cards-container {
  width: 80%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.right-side::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right-side {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
