.header {
  background-color: rgb(204, 203, 203);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background: linear-gradient(
      217deg,
      rgba(223, 1, 1, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(114, 1, 112, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.header .app-name {
  margin-left: 5%;
  margin-top: 30px;
  font-family: "Ink Free";
}

.header .navbar {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
}

.header .navbar .navbar-btn {
  padding: 6px 5px 10px 5px;
  border: 1px solid white;
  height: 18px;
  width: 60px;
  margin-top: 40px;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
}

.header .navbar .navbar-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: all 0.3s;
}

.link {
  color: white;
  text-decoration: none;
}
